* {
  box-sizing: border-box;
}

#bg-background-color {
  background-color: #fbf6fe;
}

#bg-sidebar-color {
  background: linear-gradient(
    169.29deg,
    rgba(65, 88, 208, 0.31) -16.25%,
    rgba(200, 80, 192, 0.46) 42.15%,
    #ffcc70 99.22%
  );
  margin: 8rem 0rem 2rem 0rem;
}

#card-frame {
  max-width: 100%;
  width: 610px;
  min-height: 145px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

body {
  font-family: "Montserrat", sans-serif;
  color: black;
}

a {
  text-decoration: none;
}

.crossed-out {
  text-decoration: line-through;
}

.topnav {
  background-color: #fbf6fe;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  margin-top: 0;
  padding: 20px;
  z-index: 10;
}

.topnav-centered span {
  float: none;
  position: absolute;
  font-weight: bolder;
  font-size: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav-right {
  float: right;
  font-weight: bold;
  font-size: 24px;
  top: 50%;
  left: 50%;
  margin-right: 20px;
}

.topnav-right span {
  text-align: center;
}

.add-bottom-button {
  height: 4rem;
  margin-top: 0;
}
.button {
  border: 0;
  background: transparent;
}

#taskDueDate {
  padding: 0.4rem 1.2rem;
  border-radius: 0.7rem;
  border: none;
  margin-left: 0.5rem;
  cursor: pointer;
}

.actions-icon-bootstrap {
  cursor: pointer;
}

#msg {
  color: #5f17ef;
}

@media screen and (max-width: 600px) {
  .topnav a,
  .topnav-right {
    float: none;
    display: block;
  }

  .topnav-centered {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}

.select-user {
  font-weight: bolder;
}

.user-selector input {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  appearance: none;
}

.user-selector input:active + .users {
  opacity: 0.5;
}
.user-selector input:checked + .users {
  -webkit-filter: none;
  filter: none;
}
.users {
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 100px;
  height: 70px;
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  -webkit-filter: brightness(1.8) grayscale(1) opacity(0.7);
  filter: brightness(1.8) grayscale(1) opacity(0.7);
}
.users:hover {
  -webkit-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
  filter: brightness(1.2) grayscale(0.5) opacity(0.9);
}

.userlabels {
  list-style: none;
}

.priority {
  font-weight: bolder;
}

.shadow-custom {
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25),
    0 3px 10px 5px rgba(0, 0, 0, 0.07) !important;
}
